In [2]:
import os
import csv
import pandas as pd

In [3]:
poll_csv = os.path.join('Resources', 'election_data.csv')
poll_output_file = os.path.join('Analysis', 'PyPoll_output_file.txt')
print(poll_csv)

Resources\election_data.csv

In [6]:
# creating a dataframe using the poll_csv file
poll_df = pd.read_csv(poll_csv)
poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan